/* Asegura que padding y border no afecten ancho total */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 5000px;
    scroll-behavior: smooth;
}

header.encabezado {
    display: flex;            
    justify-content: flex-end;
    background: #B82F25;
    min-height: 45px;       
}

div.cabecera {
    display: flex;
    flex-direction: row;
    align-items: center;        
    padding: 10px;  
    margin: 0;                
}

.logo {
    display: flex;
    margin-right: 20px; /* Add margin to the right for spacing */
}

.logo img {
    height: 70px;
}

header div.cabecera h1 {
    text-align: center;
    font-size: 1rem;
    color: #FFFF;
    font-family: century;
    padding-right: 20px;
    margin: 0; 
}

div i {
    padding-right: 15px; 
    color: #FFFF;
}

.separador {
    width: 1px;
    height: 60%; 
    background-color: #FFFF;
    margin: 0 20px; 
    
}

header.nav {
    display: flex;            
    justify-content: space-between;
    height: 70px;  
    align-items: center;
    padding: 20px 40px;  
    background: #FFFF;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;   
}

nav a {
    display: inline-block;                 
    font-weight: 600;
    padding-right: 15px;
    transition: color 0.3s ease, transform 0.3s ease; /* <– incluye transform */
    will-change: transform;
}

nav a:hover {
    color: #D19733;
    transform: translateY(3px); /* puedes combinar más efectos */
}

.banner-section {
    position: relative;      /* para poder posicionar el texto encima */
    width: 100%;
    height: 500px;           /* altura fija para el banner */
    overflow: hidden;
}

.banner-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;       /* que la imagen cubra todo el ancho/alto */
    display: block;
}

.texto1 {
    position: absolute;
    top: 50%;
    left: 23%;
    right: 10%;
    transform: translate(-50%, -50%); /* centra horizontal y vertical */
    text-align: left;
    color: #fff;
    padding: 0 20px;         
    max-width: 40%;            
}

.texto1 h2 {    
    font-size: 3rem;         /* tamaño grande de título */
    font-weight: bold;
    line-height: 1.2;    
}



@media (max-width: 700px) {
    header {
        flex-direction: column;
    }

    header.nav {
        padding: 10px 20px; 
    }

    .texto1 {
        right: 5%;
        max-width: 90%;
        text-align: center;
        transform: translate(-50%, -50%);
        left: 25%;          
    }
    .texto1 h2 {
        font-size: 1.8rem;
    }

    
}
