
.banner-section {
    position: relative;      /* para poder posicionar el texto encima */
    width: 100%;
    height: auto;           /* altura fija para el banner */
    overflow: hidden;
}

.banner-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;       /* que la imagen cubra todo el ancho/alto */
    display: block;
}

.texto1 {
    position: absolute;
    top: 50%;
    left: 23%;
    right: 10%;
    transform: translate(200%, -250%); /* centra horizontal y vertical */
    text-align: left;
    color: #000000;
    padding: 0 20px;         
    max-width: 20%; 
    font-family: 'Gandhi Sans', sans-serif;           
}

.texto1 h2 {    
    font-size: 3rem;         /* tamaño grande de título */
    font-weight: bold;
    line-height: 1.2;    
}


@media (max-width: 700px) {
    /*BANNER*/
    .texto1 {
        position: absolute; 
        padding: 0 10px; 
    }
    
    .texto1 h2 {
        font-size: 1.1rem; 
        line-height: 1.2;
    }
}